:root {
    --primary-color: #005A43; /* Binghamton University primary dark green */
    --secondary-color: #004333; /* Binghamton dark green */
    --accent-color: #6CC24A; /* Binghamton light green accent */
    --dark-color: #5A5C5B; /* Binghamton gray */
    --light-color: #f5f5f5;
    --success-color: #6CC24A; /* Binghamton light green */
    --warning-color: #CEDC00; /* Binghamton lime */
    --error-color: #BF0D3E; /* Binghamton red */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    padding: 40px;
    text-align: center;
}
h1 {
    margin-bottom: 20px;
    color: #333;
}
p {
    margin-bottom: 20px;
    line-height: 1.5;
    color: #555;
}
.icon {
    font-size: 60px;
    margin-bottom: 20px;
    color: var(--primary-color);
}
.error {
    color: var(--error-color);
    margin-top: 20px;
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    text-align: left;
}
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px 20px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: var(--secondary-color);
}
.login-link {
    margin-top: 20px;
}
.login-link a {
    color: var(--primary-color);
    text-decoration: none;
}
.login-link a:hover {
    text-decoration: underline;
}